<div class="sidebar">
    <div class="logo"> </div>
    <ul class="menu">
      <li class="active">
        <a routerLink="/dashboard">
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/employeemenagment">
          <i class="fas fa-user-plus"></i>
           <span>Add Employee</span> 
        </a>
      </li>
      <li>
        <a  routerLink="/employees">
          <i class="fas fa-user"></i>
          <span>View Employee</span>
        </a>
      </li>
      
      <li>
        <a >
          <i class="fas fa-cog"></i>
          <span>Setting</span>
        </a>
      </li>
      <li class="logout">
        <a href="#">
            <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
